* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial;
}
li , a{
    padding: 20px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
body {
    background-color: #eff0f5;
}
#Style-title {
    font-style: italic;
}
.Navbar-container {
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    color: black;
}
.Unorder-container {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 1;
}
.container-background-controller {
    background-color: #fefefe;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1;
}
.display-imageOricon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 50px;
    flex: 1;
}
.Icon-border {
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #eff0f5;;
    border-style: solid;
    border-color: gray; 
    box-shadow:  0px 0px 5px rgba(151, 156, 141, 0.8);
}
#Search-bar {
    padding: 14px;
    width: 40vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 156, 141, 0.8);
    box-shadow:  0px 1px 5px rgba(151, 156, 141, 0.8);
}
#trolley-icon {
    height: 30px;
    padding-left: 30px;
}
#Search-bar::placeholder {
    font-size: 20px;

}
#Search-icon {
    height: 40px;
}
.image-controller-1 {
    padding: -200px;

}
.Image-background {
    position: relative;
    z-index: 2;
}
.another-level-header-container {
    display: flex;
    display: block;
    flex-direction: row;
    align-items: stretch;
    padding-top: 10vh;
    padding-left: 250px;
    padding-right: 250px;
    height: 90vh ;
}
.container {
    margin-top: 50px;
    background-color: #fefefe;
    border-radius: 10px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-alignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#image {
    height: 100px;
    width: 100px;
    z-index: 1;
}
#imaged {
    height: 300px;
    width: 300px;
}
.border-1 {
    background-color: black;
    color: white;
    position: absolute;
    padding-left: 20px;
    right: 30px;
    bottom: 50px;
    border-style: solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: linear-gradient(to left, blue, black);
    padding: 20px;
}

.image-controller-1 {
    align-self: center;
}
.image-controller-2 {
    position:relative;
    height: 300px;
}
.image-controller-3 {
    align-self: center;
    position: relative;
    padding-right: 20px;
}

.icons-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
#icons {
    height: 50px;
    width: 50px;
}
.icons-controller {
    display: flex;
    flex-direction: row;
    max-width: 33%;
}
.paragraph {
    text-align: left;
}
.paragraph-container {
    font-weight: bold;
    font-size: large;
}
.cash-container {
    padding-top: 200px;
    display: flex;
}
.space-container {
    margin-top: 20px;
}
.Cash {
    font-size: 50px;
    font-weight: bold;
}
.Locate {
    margin-top: 2px;
}
.footer-background {
    background-color: rgba(0, 0, 0, 0.8);
}

.Scale {
    display: inline-block;
    background-color: black;
    color: white;
}
#input {
    display: inline-block;
    width: 30px;
    text-align: center;
}
#add-scale {
    padding-left: 10px;
    padding-right: 10px;
}
.Promotions, .Delivery, .Warranty, .specification, .Scalable, .buttons   {
    display: flex;
    margin-top: 20px;
}
.scale-display {
    display: flex;
    flex-direction: row;
    width: 10px;
}
.widthing, .varie, .pro-width, .quant {
    width: 100px;
}
.buynow, .toCart {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-right: 20px;
    border-radius: 4px;
}
.buynow {
    font-weight: bold;
    font-size: larger;
    border-color: black;
    border-width: inset 4px;
    background-color: white;
}
.toCart {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    font-size: larger;
}
.percent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28vh;
}
#Discription {
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.Promotions {
    width: 70vh;
    display: flex;
    flex-direction: row;

}
.buttons {
    z-index: 0;    
}
.font-5 {
    color: white;
}
@media (max-width: 492px) {
    a {
        display: block;
        padding: 20px;
    }
    .Unorder-container {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: none;
        justify-content: none;
        left: 0px;
        bottom: 0px;
        top: 0px;
        max-width: 100%;
    }
    .container-background-controller {
        position: fixed;
        bottom: 0px;
        top: 0px;
    }
}